$pink : #F9F2ED;
$grey:#999999;
$white:#ffffff;
$skin:#6F3D18;
$line:#9D6135;
$shadowColor:#00000029;
$cardColor:#80827E;
$darkPink:#E00E86;
$brown:#7E471F;
$lightPink:#F9F2ED;
$lightSkyBlue:#DEE4E8;
$cement:#EAE9DE;
$lightPurple:#EAE9DE;
$cream:#D6D4B8;
$darkCream: #C1BE98;
$lightGrey:#F5F4F4;